body {
	padding-top: 20px;
	background-image: url("media/paperbg.jpg");
	background-size: cover, cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	font-family: 'Nunito', sans-serif;
	color: white;
}

.nav-link {
	color: white;
	line-height: 5;
}

.gallery {
	padding-top: 5%;
}

#header {
	height: 100px;
	min-width: 100%;
}

#header a:hover {
	color: white;
}

#logo {
	width: 150px;
	height: auto;
}

.pieces {
	max-height: 200px;
}

.img-thumbnail {
	clip: auto;
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: -webkit-fill-available;
	margin-bottom: 1rem;
	background-color: black;
}

.jumbotron {
	color: black;
}